<%-include("./partials/head.ejs") %> 
<%-include("./partials/header.ejs") %>

<!-- product detail -->
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><% producto.nombre %></h2>
        <p class="product-detail-description">
            <% if (isLogged) {%>
                <a href="/products/productadd">Agregar producto</a>
    
                <% if (logeadoproducto) {%>
                    <a href="/products/edit_product">Editar producto</a>
                
                    <%} else { %>
                
                    <%} %>
                <%} else { %>
            
                <%} %>
            
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= producto.imagen %>" alt="imagen" <%= producto.nombre %>>
                <p class="product-detail-description">
                    <p><%= producto.descripcion %></p></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
            <!-- <#% for(let i=0; i<comentarioslista.length; i++){ %>
                    <article>
                        <img src="<#%= comentarioslista[i].imagendeperfil %>" alt="imagendeperfil">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/profile"><#%= comentarioslista[i].usuario %> </a> </strong>
                            <#%= comentarioslista[i].comentario %></p>
                        </div>
                    </article>
                    <#% } %> -->
                    <!-- <article>
                        <img src="https://via.placeholder.com/35" alt="">
                        <div class="data">
                            <p class="user">
                                <strong> <a href="profile.html">Nombre usuario: </a> </strong>
                                Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </article>
                    <article>
                        <img src="https://via.placeholder.com/35" alt="">
                        <div class="data">
                            <p class="user">
                                <strong> <a href="profile.html">Nombre usuario: </a> </strong>
                                Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                        </div>
                    </article>
                    <article>
                        <img src="https://via.placeholder.com/35" alt="">
                        <div class="data">
                            <p class="user">
                                <strong> <a href="profile.html">Nombre usuario: </a> </strong>
                                Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet.</p>
                        </div>
                    </article>
                    <article>
                        <img src="https://via.placeholder.com/35" alt="">
                        <div class="data">
                            <p class="user">
                                <strong> <a href="profile.html">Nombre usuario: </a> </strong>
                                Texto del comentario que escribi贸 el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
                        </div>
                    </article> -->

                </section>
                <p>
                    <a href="products/deleteproduct/:id"></a>
                </p>

                <% if (isLogged) {%>
                
                <form class="form" action= "/products/add-comment<%= producto.id %> "method = "POST">
                    <input class="form-input" type="text" value="" name = "comentario" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>

                <%} else { %>
                <form class="form" action= "/users/login"method = "get">
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <%} %>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- /product detail -->

<%-include("./partials/footer.ejs") %>