<%-include("./partials/head.ejs") %>
<% if (isLogged){ %>
  <%-include("./partials/headerLogueado.ejs") %>
<% } else {  %>
  <%-include("./partials/header.ejs") %>
<% } %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        </h2>
        <form class="" action="/users/profile-edit" method="POST">
            <input type="email" name="email" value="<%= usuario.email %>" placeholder="email:">
            <input type="text" name="nombre" value="<%= usuario.nombre %>" placeholder="usuario:">
            <input type="password" name="password" value="" placeholder="contraseña:">
            <input type="date" name="fecha_de_nacimiento" value="<%= usuario.fecha_de_nacimiento %>" placeholder="fecha:">
            <input type="number" name="dni" value="<%= usuario.dni %>" placeholder="documento:">
            <input type="text" name="fotodeperfil" value="<%= usuario.foto_de_perfil %>" placeholder="introduce el link de tu foto de perfil: ">
            <button class="registrate" type="submit" class="buy-now-button" href>Guardar cambios</button>
          </form>
<%-include("./partials/footer.ejs") %>
