<%-include("./partials/head.ejs") %>
<%-include("./partials/headerLogueado.ejs") %>

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
            <img src="<%=user.foto_de_perfil %>" alt="foto de perfil" class="foto-perfil">
        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="main-title"> <%= user.nombre %>
                    <a href="/users/profile-edit">
                        <i class="fas fa-cog">Editar Perfil</i>
                    </a>
                </h1>
                
            </div>
       
            </form>
            <div>
                <ul class="">
                    <li> Productos: <%= usuarioinfo.userconproductos.length %></li>
                    <li>200 seguidores</li>
                    <li>300 comentarios</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Datos del usuario -->

<!-- <div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Mis productos</h2>
        </div> -->
        <!-- Show mis productos -->
        <!-- <#% for(let i = 0; i<dataUser.productsconusers.length ; i++){ %> 
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/detalle/<%#=dataUser.productsconusers[i].id%>">
                        <figure class="product-box_image">
                            <img src="<%#=dataUser.productsconusers[i].imagen%>" alt="imagen <%#=dataUser.productsconusers[i].nombre%>">
                        </figure>
                        <article class="product-box_data">
                            <h2><%#= dataUser.productsconusers[i].nombre %></h2>
                            <p><%#= dataUser.productsconusers[i].descripcion%></p>
                            <p>Comentarios: <%# %></p>
                        </article>
                    </a>
                </section>
            </div>
        <#% } %>
    </div>
</div> -->

<%-include("./partials/footer.ejs") %>