<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Resultados de búsqueda</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <div class="row">
            <% for(let i=0; i< 1; i++){ %>
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= productoslista[i].imagen %>" alt="imagen" <%= productoslista[i].nombre %>>
                <p class="product-detail-description">
                    <p><%= productoslista[i].descripcion %></p></p>
            </article></div>
            <% } %>

<%-include("./partials/footer.ejs") %>