<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Resultados de búsqueda</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <div class="row">
            <% for(let i=0; i< 1; i++){ %>
            <article class="col-12 col-lg-8 product-detail-info">
                <img src= "<%= productoslista[i].imagen %>" alt="imagen">
                <p><%= productoslista[i].nombre %></p>
                <p class="product-detail-description">
                    <p><%= productoslista[i].descripcion %></p></p>
            </article></div>
            <% } %>
            <div class="col-12 col-lg-4">
                <section class="comments">
            <% for(let i=0; i<comentarioslista.length; i++){ %>
                    <article>
                        <img src= "<%= comentarioslista[i].imagendeperfil %>" alt="imagendeperfil">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/profile"><%= comentarioslista[i].usuario %> </a> </strong>
                            <%= comentarioslista[i].comentario %></p>
                        </div>

<%-include("./partials/footer.ejs") %>